<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xoá người dùng</title>
</head>
<body>
<h1>Xoá người dùng</h1>
<h2>Bạn có chắc?</h2>
<p>
    <a href="/customers">Danh sách người dùng</a>
</p>

<!--/*@thymesVar id="customer" type=""*/-->
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Họ:</td>
            <!--/*@thymesVar id="firstName" type=""*/-->
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td>Tên:</td>
            <!--/*@thymesVar id="lastName" type=""*/-->
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Xoá"></td>
        </tr>
    </table>
</form>
</body>
</html>
